body {
    margin: 0;
    padding: 0;
    position: relative;
    background: #cdf3ff;
    overflow: hidden;
}




#gesogeso {
    /* position: relative; */
}


#gesogeso .geso {
    position: absolute;
    width: 1920px;
    height: 1920px;
    -webkit-transform-origin: center center;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 0;
}

#gesogeso-geso-1 {
    z-index: 100001;
    left: 0;
    left: -1120px; /* - (960 + 160) */
    background: url(../img/geso1_wiped.png) left top no-repeat;
    -webkit-transform: rotate(0deg);
    -webkit-animation-name: 'gesogeso-geso-1-anim';
}

#gesogeso-geso-2 {
    z-index: 100002;
    right: -1120px; /* - (960 + 160) */
    background: url(../img/geso2_wiped.png) right center no-repeat;
    -webkit-transform: rotate(0deg);
    -webkit-animation-name: 'gesogeso-geso-2-anim';
}

#gesogeso-geso-3 {
    z-index: 100003;
    top: -1120px; /* - (960 + 160) */
    background: url(../img/geso3_wiped.png) center top no-repeat;
    -webkit-transform: rotate(0deg);
    -webkit-animation-name: 'gesogeso-geso-3-anim';
}


@-webkit-keyframes 'gesogeso-geso-1-anim' {
      0% { -webkit-transform: rotate(  0deg); }
     40% { -webkit-transform: rotate(-90deg); }
    100% { -webkit-transform: rotate(-90deg); }
}

@-webkit-keyframes 'gesogeso-geso-2-anim' {
      0% { -webkit-transform: rotate(   0deg); }
     55% { -webkit-transform: rotate( -90deg); }
    100% { -webkit-transform: rotate( -90deg); }
}

@-webkit-keyframes 'gesogeso-geso-3-anim' {
      0% { -webkit-transform: rotate(   0deg); }
     86% { -webkit-transform: rotate(-180deg); }
    100% { -webkit-transform: rotate(-180deg); }
}




#geso-wiped {
    position: absolute;
    z-index: 100000;
    top: 0;
    left: 0;
    background: #fff;
    display: none;
}
